myLanguage/user.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="users">
<xs:complexType>
<xs:sequence>

    <xs:element name="user" maxOccurs="unbounded" minOccurs="0">
    <xs:complexType>
    <xs:sequence>
        <xs:element type="xs:string" name="login"/>
        <xs:element type="xs:string" name="email"/>
        <xs:element type="xs:string" name="password"/>
        <xs:element type="xs:string" name="mark"/>
    </xs:sequence>
    <xs:attribute type="xs:boolean" name="active" use="required"/>
    </xs:complexType>
    </xs:element>

</xs:sequence>
<xs:attribute type="xs:string" name="name" use="required"/>
</xs:complexType>
</xs:element>

</xs:schema>
